# Default build settings for Netlify
[build]
  # Base directory where the frontend code is located
  base = "front"
  # Directory to publish (relative to base)
  publish = "dist"
  # Default build command
  command = "yarn run build"

# Redirects and headers are optional
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  # Local dev command. A.k.a npm start
  command = "npm run dev"
  # Specify the directory for the dev command
  targetPort = 5173
  publish = "front/dist"
